# ignores virtual environment folder
venv/
# ignores python cache
__pycache__
# ignores the js version of venv
node_modules/
# ignores any vscode extensions
.vscode 
# ignores macos metadata
.DS_Store