<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.1">
    <title>End Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='friends.css') }}">
</head>

<body class="bg-gray-100 flex flex-col h-screen">

    <header class="top-bar">
        <button class="btn">Login / Signup</button>

        <h1 class="page-title">MINEDOKU</h1>

        <div class="right-header">
            <button class="btn" id="settings">Settings</button>
            <button class="btn" id="rules">How to play</button>
        </div>
    </header>

</body>
</html>