<!DOCTYPE html>
<html lang="en">
<!-- placeholder id's will be marked with a !! in their comment -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.1">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>MineDoku</title>
</head>

<body>
    <header>
        <!-- should be a bottom border like a shadow if that makes sense -->
        <button class="btn">Login / Signup</button>
        <!-- this will change to account once logged in -->
    
        <h1 id="name">MINEDOKU</h1>
        <!-- !!. make this look better than just text -->
    
        <div class="right-header">
            <button class="btn" id="settings">Settings</button>
            <!-- !!. change this to a cog -->
    
            <button class="btn" id="rules">How to play</button>
            <!-- !!. change this to a question mark -->
        </div>
    </header>

    <div class="game">

        <div class="side-column" id="left-conditions">
            <table class="side-column-table">
                <tr><td><p id="LTCon">Left Top Condition</p></td></tr>
                <!-- !!. change these so that they can be inputted automatically -->
                <tr><td><p id="LMCon">Left Middle Condition</p></td></tr>
                <!-- !!. -->
                <tr><td><p id="LBCon">Left Bottom Condition</p></td></tr>
                <!-- !!. -->
            </table>
        </div>

        <div class="center-elements">

            <div class="top-row">
                <table class="top-row-table">
                    <tr>
                        <td><p id="TLCon">Top Left Condition</p></td>
                        <!-- !!. change these so that they can be inputted automatically -->
                        <td><p id="TMCon">Top Middle Condition</p></td>
                        <!-- !!. -->
                        <td><p id="TRCon">Top Right Condition</p></td>
                        <!-- !!. -->
                    </tr>
                </table>
            </div>

            <div class="table">
                <!-- each cell is a placeholder to be linked with the database. -->
                <table>
                    <tr>
                        <td id="cell-1">
                            <!-- !!. -->
                            <img src="{{ url_for('static', filename='images/img1.jpg') }}" alt="">
                        </td>
                        <td id="cell-2">
                            <!-- !!. -->
                            <img src="{{ url_for('static', filename='images/img2.jpg') }}" alt="">
                        </td>
                        <td id="cell-3">
                            <!-- !!. -->
                            <img src="{{ url_for('static', filename='images/img3.jpg') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td id="cell-4">
                            <!-- !!. -->
                            <img src="{{ url_for('static', filename='images/img4.jpg') }}" alt="">
                        </td>
                        <td id="cell-5">
                            <!-- !!. -->
                            <img src="{{ url_for('static', filename='images/img5.jpg') }}" alt="">
                        </td>
                        <td id="cell-6">
                            <!-- !!. -->
                            <img src="{{ url_for('static', filename='images/img6.jpg') }}" alt="">
                        </td>
                    </tr>
                    <tr>
                        <td id="cell-7">
                            <!-- !!. -->
                            <img src="{{ url_for('static', filename='images/img7.jpg') }}" alt="">
                        </td>
                        <td id="cell-8">
                            <!-- !!. -->
                            <img src="{{ url_for('static', filename='images/img8.jpg') }}" alt="">
                        </td>
                        <td id="cell-9">
                            <!-- !!. -->
                            <img src="{{ url_for('static', filename='images/img9.jpg') }}" alt="">
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="side-column" id="extra">
            <table class="side-column-table">
                <tr>
                    <td>
                        <p id="dur">Durability <span class="scores">9/9</span></p>
                    </td>
                </tr>
                <!-- !!. make it so each guess this decrements -->
                <tr><td><button id="give-up">Give Up?</button></td></tr>
                <tr>
                    <td>
                        <p id="US">US <span class="scores">1000</span></p>
                    </td>
                </tr>
                <!-- !!. make it so this changes every guess -->
            </table>
        </div>

    </div>
</body>
</html>