<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Account Page</title>

<link rel="stylesheet" href="/static/dist/output.css">
</head>

<body class="accounts_body">

<div class="accounts_title">ACCOUNT</div>

<div class="accounts_main">

    <!-- LEFT PANEL -->
    <div class="accounts_left">
        <h3>Menu</h3>
        <p>Settings</p>
        <p>Saved</p>
        <p>Devices</p>
        <p>Log Out</p>
    </div>

    <!-- CENTER PANEL -->
    <div class="accounts_center">
        <h3>Inventory</h3>

        <div class="Inventory" id="accounts_Inventory"></div>

</div>

 <!-- RIGHT PANEL -->
    <div class="accounts_right">
        <h3>Stats</h3>
        <p>Games Played: </p>
        <p>Wins: </p>
        <p>Longest Streak: </p>
        <p>Level: </p>
    </div>

</body>

<script>
    const Inventory = document.getElementById('accounts_Inventory');

    // create 27 slots
    for (let i = 0; i < 27; i++) {
        const item = document.createElement('div');
        item.classList.add('accounts_item');
        Inventory.appendChild(item);
    }

    const items = document.querySelectorAll('.item');

    items.forEach(item => {
        item.addEventListener('click', () => {
            items.forEach(i => i.classList.remove('selected'));
            item.classList.add('selected');
        });
    });
</script>
</html>