<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.1">
    <title>{% block title %}MINEDOKU{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
</head>

<body class="{% block body_class %}{% endblock %}" data-is-logged-in="{{ 'true' if current_user.is_authenticated else 'false' }}">

    <header class="top-bar">
        {% block left_button %}{% endblock %}

        <h1 class="page-title">MINEDOKU</h1>

        <div class="right-header">
            {% block right_button %}{% endblock %}
        </div>
    </header>

    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    {% block scripts %}{% endblock %}

</body>
</html>