{% extends "index.html" %}

{% block title %}Game Over{% endblock %}

    {% block sub_header %}
        {% if not no_blocks_placed %}
        <div class="flex justify-center gap-8 mt-6">
            <button class="btn" onclick="showLeast()">
                Least Common
            </button>
            <button class="btn" onclick="showMost()">
                Most Common
            </button>
        </div>
        {% endif %}
    {% endblock %}

    {% block conditions %}
        {% if not no_blocks_placed %}
            {{ super() }}
        {% endif %}
    {% endblock %}

    {% block gameboard %}
    <div class="game end-game-layout">
        {% if no_blocks_placed %}
            <div class="text-box" id="empty-data">
                <p>NO BLOCKS PLAYED TODAY!</p>
            </div>
        {% else %}
            <div class="center-elements">
                <div class="table">
                        <table>
                            {% for i in range(3) %}
                            <tr>
                                {% for j in range(3) %}
                                {% set current_id = (i * 3) + j + 1 %}
                                {% set current_square_data = results[current_id|string] %}

                                <td id="{{ current_id }}" class="gameboard-cell result-cell {{ 'is-blank' if current_square_data.least == 'assets/blank.png' else '' }}" 
                                    data-least="{{ url_for('static', filename=current_square_data.least) }}"
                                    data-least-name="{{ current_square_data.least_name }}"
                                    data-least-percent="{{ current_square_data.least_percent }}"

                                    data-most="{{ url_for('static', filename=current_square_data.most) }}"
                                    data-most-name="{{ current_square_data.most_name }}"
                                    data-most-percent="{{ current_square_data.most_percent }}"
                                >
                                    <img src="{{ url_for('static', filename=current_square_data.least) }}">
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                </div>
            </div>
        {% endif %}
    </div>
    {% endblock %}    
            {% block stats %}
                {% if not no_blocks_placed %}
                    <table class="side-column-table">
                        <tr>
                            <td>
                                <p class="text-box" id="ggp">Global Games Played <span class="scores">{{ global_stats.global_games_played if global_stats else 0 }}</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>  
                                <p class="text-box" id="lowest-us">Lowest US <span class="scores">{{ global_stats.lowest_uniqueness if global_stats else 0 }}</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-box" id="average-us">Average US <span class="scores">{{ global_stats.average_uniqueness if global_stats else 0 }}</span></p>
                            </td>
                        </tr>
                    </table>
                {% endif %}
            {% endblock %}                

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script src="{{ url_for('static', filename='js/end_game.js') }}"></script>
    {% endblock %}