<!DOCTYPE html>
<html lang="en">
<!-- placeholder id's will be marked with a !! in their comment -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.1">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <title>MineDoku</title>
</head>

<body>
    <header class="top-bar">
        <button class="btn" onclick="window.location.href='{{ url_for('login') }}'">
            Login / Signup
        </button>

        <h1 class="page-title">MINEDOKU</h1>

        <div class="right-header">
            <button class="btn" id="rules" onclick="window.location.href='{{ url_for('friends') }}'">
                Friends
            </button>
        </div>
    </header>

    <div class="game">

        <div class="side-column" id="left-conditions">
            <table class="side-column-table">
                <tr>
                    <td>
                        <p id="LTCon" data-id=" {{side_col[0].condition_id}} "> {{ side_col[0].condition_name }} </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="LMCon" data-id=" {{side_col[1].condition_id}} "> {{ side_col[1].condition_name }} </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="LBCon" data-id=" {{side_col[2].condition_id}} "> {{ side_col[2].condition_name }} </p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="center-elements">

            <div class="top-row">
                <table class="top-row-table">
                    <tr>
                        <td>
                            <p id="TLCon" data-id=" {{top_row[0].condition_id}} "> {{ top_row[0].condition_name }} </p>
                        </td>
                        <td>
                            <p id="TMCon" data-id=" {{top_row[1].condition_id}} "> {{ top_row[1].condition_name }} </p>
                        </td>
                        <td>
                            <p id="TRCon" data-id=" {{top_row[2].condition_id}} "> {{ top_row[2].condition_name }} </p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="table">
                <table>
                    <tr>
                        <td id="1" class="gameboard-cell" data-side="{{side_col[0].condition_id}}" data-top="{{top_row[0].condition_id}}">
                            <img class="blank" src="{{ url_for('static', filename='assets/blank.png') }}">
                        </td>
                        <td id="2" class="gameboard-cell" data-side="{{side_col[0].condition_id}}" data-top="{{top_row[1].condition_id}}">
                            <img class="blank" src="{{ url_for('static', filename='assets/blank.png') }}">
                        </td>
                        <td id="3" class="gameboard-cell" data-side="{{side_col[0].condition_id}}" data-top="{{top_row[2].condition_id}}">
                            <img class="blank" src="{{ url_for('static', filename='assets/blank.png') }}">
                        </td>
                    </tr>
                    <tr>
                        <td id="4" class="gameboard-cell" data-side="{{side_col[1].condition_id}}" data-top="{{top_row[0].condition_id}}">
                            <img class="blank" src="{{ url_for('static', filename='assets/blank.png') }}">
                        </td>
                        <td id="5" class="gameboard-cell" data-side="{{side_col[1].condition_id}}" data-top="{{top_row[1].condition_id}}">
                            <img class="blank" src="{{ url_for('static', filename='assets/blank.png') }}">
                        </td>
                        <td id="6" class="gameboard-cell" data-side="{{side_col[1].condition_id}}" data-top="{{top_row[2].condition_id}}">
                            <img class="blank" src="{{ url_for('static', filename='assets/blank.png') }}">
                        </td>
                    </tr>
                    <tr>
                        <td id="7" class="gameboard-cell" data-side="{{side_col[2].condition_id}}" data-top="{{top_row[0].condition_id}}">
                            <img class="blank" src="{{ url_for('static', filename='assets/blank.png') }}">
                        </td>
                        <td id="8" class="gameboard-cell" data-side="{{side_col[2].condition_id}}" data-top="{{top_row[1].condition_id}}">
                            <img class="blank" src="{{ url_for('static', filename='assets/blank.png') }}">
                        </td>
                        <td id="9" class="gameboard-cell" data-side="{{side_col[2].condition_id}}" data-top="{{top_row[2].condition_id}}">
                            <img class="blank" src="{{ url_for('static', filename='assets/blank.png') }}">
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="side-column" id="extra">
            <table class="side-column-table">
                <tr>
                    <td>
                        <p id="dur">Durability <span class="scores">9/9</span></p>
                    </td>
                </tr>
                <tr>
                    <td><button id="give-up">Give Up?</button></td>
                </tr>
                <tr>
                    <td>
                        <p id="US">US <span class="scores">1000</span></p>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div id="inventory-overlay" class="hidden">
        <div class="inventory-container">
            <div class="inventory-display">
                <div class="inventory-grid">
                    {% for block in blocks %}
                    <div class="inventory-cell" 
                        data-block="{{ block.block_name }}"
                        data-texture="{{ url_for('static', filename=block.face_texture_path) }}"
                        data-compatibility="{{ block.condition_compatibility }}">
                        <img src="{{ url_for('static', filename=block.inv_texture_path) }}"
                            alt="{{ block.block_name }}">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <button id="backFromInventory" class="btn">Back</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>